@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
:root {
    --main-background-color: #131F26;
    --font-main-color: #CDCDD8;
    --font-heading-color: #FED866;
    --main-font-family: 'Libre Baskerville', serif;
    --font-link-color: #ACC8E5
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-background-color);
    font-family: var(--main-font-family);
}


/* navigation section */

.nav-primary__navigation {
    display: flex;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
}


/* logo */

.nav-list-logo a {
    font-family: var(--main-font-family);
    font-size: 200%;
    color: var(--font-heading-color);
    display: flex;
    height: auto;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}

button[id*="toggle"] {
    display: none
}

li[class*="nav-list-item"] {
    padding: 0.5rem 1.5rem;
    font-size: 110%;
}

li a {
    font-size: 0.9rem;
}

li a:link {
    text-decoration: none;
    color: var(--font-link-color)
}

li a:visited {
    color: #d2d2f0;
}

li a:hover {
    color: var(--font-heading-color);
    text-decoration: underline dotted;
}

li a:active {
    color: var(--font-heading-color);
}


/* navigation section ends here */


/* hero section */

.hero-content {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
    color: var(--font-main-color);
}

.hero-title {
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 130%;
    line-height: 1.5rem;
}

.hero-subsection {
    word-wrap: break-word;
    text-align: center;
    max-width: 50%;
    padding: 1rem;
    line-height: 1.3rem;
    margin-left: 1rem;
    font-size: 1rem;
    word-spacing: 2px;
}

.aside-hero__section {
    border: 2px solid red;
    max-width: 20%;
    max-height: auto;
    height: auto;
    z-index: 1;
    margin-top: -1rem;
    color: var(--font-heading-color);
}

.aside-menu {
    display: flex;
    flex-direction: column;
}

.rule {
    border-left: 2px solid green;
    height: 400px;
    margin: 0 0 0 0.5rem;
    padding: 0 0 0.8rem 0;
}

.facebook-page {
    width: 32px;
    height: 32px;
    margin: 0.5rem 0;
    background-color: white;
}

.instagram-page {
    width: 32px;
    height: 32px;
    color: var(--font-main-color);
}

.aside-list-itemOne {
    border: 2px solid red;
}


/* hero section ends here */


/* for mobile phones */


/* @media screen (min-device-width: 320px) and (max-device-width: 480px) {} */


/* tablets */

@media screen and (min-width: 320px) and (max-width: 1024px) {
    ul.nav-menu {
        border: 2px solid red;
        display: flex;
        flex-direction: column;
    }
    button #toggle {
        border: 2px solid red;
        margin: 1rem;
        background-color: #FED866;
    }
    img .menu-button {
        width: 32px;
        height: 32px;
    }
}