@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
 :root {
    --main-background-color: #131F26;
    --font-main-color: #CDCDD8;
    --font-heading-color: #FED866;
    --main-font-family: 'Libre Baskerville', serif;
    --font-link-color: #ACC8E5
}

*,
 ::before,
 ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-background-color);
    font-family: var(--main-font-family);
    /* overflow-x: hidden;? */
}


/* skip menu */

#skip-to-main a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    text-decoration: none;
    color: var(--font-heading-color);
}

#skip-to-main a:focus {
    position: static;
    width: auto;
    height: auto;
}

main:focus {
    outline: 2px dashed darkorange;
}


/* navigation section */

.nav-primary__navigation {
    display: flex;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
}


/* logo */

.nav-list-logo a {
    font-family: var(--main-font-family);
    font-size: 200%;
    color: var(--font-heading-color);
    text-decoration: none;
}

.nav-list-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}

button[id*="toggle"] {
    display: none;
}

li[class*="nav-list-item"] {
    padding: 0.5rem 1.5rem;
    font-size: 110%;
}

li a {
    font-size: 0.9rem;
}

li a:link {
    text-decoration: none;
    color: var(--font-link-color)
}

li a:visited {
    color: #d2d2f0;
}

li a:hover {
    color: var(--font-heading-color);
    text-decoration: underline dotted;
}

li a:active {
    color: var(--font-heading-color);
}


/* visually hides the image description since its too long for alt */

p[id*="img-desc"] {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

p[id*="link-desc"] {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}


/* navigation section ends here */


/* hero section */

.hero-section {
    margin: 0.5rem 0 0 0;
}

.hero-content {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
    color: var(--font-main-color);
}

.hero-title {
    text-align: center;
    padding: 0.5rem;
    margin: 0.3rem;
    font-size: 160%;
    line-height: 2rem;
    width: 300px;
    height: auto;
    text-align: left;
}

.hero-subsection {
    text-align: center;
    max-width: 50%;
    padding: 1rem;
    line-height: 1.5rem;
    margin-left: 1rem;
    font-size: 0.9rem;
    word-spacing: 2px;
    text-align: left;
}

.word-yellow {
    color: var(--font-heading-color);
}

.aside-hero__section {
    max-height: auto;
    height: auto;
    margin-top: -1rem;
    color: var(--font-main-color);
    font-size: 0.5rem;
    margin-left: 0.5rem;
    flex: 5%;
}

.aside-menu {
    display: flex;
    flex-direction: column;
}

.rule {
    border-left: 2px solid var(--font-heading-color);
    height: 380px;
    margin: 0 0 0 0.5rem;
    padding: 0.5rem 0.8rem;
}

.facebook-page {
    width: 32px;
    height: 32px;
    color: var(--font-main-color);
    border: 1px solid var(--font-main-color);
    padding: 0.3rem;
    border-radius: 2px;
}

.instagram-page {
    width: 32px;
    height: 32px;
    color: var(--font-main-color);
    border: 1px solid var(--font-main-color);
    padding: 0.3rem;
    border-radius: 2px;
}

.aside-list-itemOne {
    margin: 0.5rem 0;
}

.aside-list-itemTwo {
    margin: 0.5rem 0;
}

aside a {
    font-size: 0.6rem;
}

.hero-img {
    background: url("Images/hero-image.jpg");
    max-width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: contain;
    flex: 90%;
}

aside[class*="aside-list"]:focus {
    outline: 3px solid blue;
}


/* holds the aside menu and hero image */

.aside-styling {
    display: flex;
    margin: 1rem 0 0 0;
}

.img-company-partners {
    display: flex;
    background-color: #142027;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: auto;
    margin: 1rem 0 1rem 5.5rem;
}

.img-partners {
    width: 200px;
    height: 150px;
}


/* hero section ends here */


/* about section starts here */

.about-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-template-rows: auto;
    border-right: 2px solid var(--font-heading-color);
    padding: 0 1rem 0 0
}

.about-section__img {
    grid-row-start: 1;
    grid-row-end: 4;
}

.about-img {
    background: url("Images/image2.jpg");
    max-width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: contain;
}

img .about-section__information {
    grid-row-start: 2;
    grid-row-end: 4;
}

.about-section__information {
    height: 400px;
    width: auto;
    margin-top: 12.6rem;
    padding: 2rem;
    border: 1px solid #142027;
    background-color: #131c22;
}

.about-section__information h2 {
    color: var(--font-heading-color);
    margin: 0.5rem;
}

.about-section__information p {
    color: var(--font-main-color);
    margin: 0.5rem;
    line-height: 1.8;
}

.about-section__link {
    margin-top: 2rem;
    margin-left: 0.5rem;
}

.about-section__link a {
    border: 1px solid var(--font-heading-color);
    padding: 10px 15px;
    color: var(--font-heading-color);
    text-decoration: none;
}

.about-section__link a:hover {
    text-decoration: underline dotted;
}


/* about section ends here */


/* services section starts here */

.services-section__info-construction {
    line-height: 1.8rem;
    border: 2px solid rgba(19, 28, 34, 0.7);
    background-color: rgba(19, 28, 34, 0.7);
    color: var(--font-main-color);
    grid-area: cons;
    padding: 0.8rem;
}

.services-section__img {
    background-image: url('Images/services2.jpg');
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: contain;
    margin-right: 2rem;
    grid-area: img;
}

.services-section__info-design {
    line-height: 1.8rem;
    border: 2px solid rgba(19, 28, 34, 0.7);
    background-color: rgba(19, 28, 34, 0.7);
    color: var(--font-main-color);
    grid-area: dgn;
    padding: 0.8rem;
}

.services-title {
    color: var(--font-main-color);
    margin-top: 2rem;
    text-align: center;
}

.services-section {
    border-top: 1px solid var(--font-heading-color);
    border-right: 1px solid var(--font-heading-color);
    margin: 2rem 0.5rem 2rem 0.5rem;
    display: grid;
    margin: 2rem;
    padding: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "cons cons . ." "img img img img" ".  . dgn dgn"
}


/* services section ends here */


/* projects section */

.projects-section {
    background-color: rgba(19, 28, 34, 0.7);
    margin: 2rem;
}

.projects-section-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
    padding: 1rem;
    color: var(--font-main-color);
}

.projects-section-info h2 {
    color: var(--font-heading-color);
    margin: auto;
}

.projects-section-info p {
    color: var(--font-main-color);
    line-height: 1.8;
    margin-left: 1rem;
    padding: 0.5rem;
}

.project-section__link {
    margin: auto;
}

.project-section__link a {
    border: 1px solid var(--font-heading-color);
    padding: 10px 20px;
    color: var(--font-heading-color);
    text-decoration: none;
}

.project-section__link a:hover {
    text-decoration: underline dotted;
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    padding: 2rem;
}

article[class*="card"] img {
    margin: 1rem;
    object-fit: cover;
    width: 320px;
    height: 350px;
}

.img-link a {
    border: 1px solid var(--font-heading-color);
    padding: 5px 8px;
    color: var(--font-heading-color);
    text-decoration: none;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.img-link a:hover {
    text-decoration: overline dotted;
    background-color: #0a0800;
}


/* project section ends here */


/* footer section */

footer h2 {
    color: var(--font-heading-color);
    margin: 1rem;
    text-align: center;
}

.footer-contacts {
    display: flex;
    align-content: center;
    justify-content: center;
}

.footer-contacts img {
    width: 32px;
    height: 32px;
    color: var(--font-main-color);
}

.phone-contacts {
    color: var(--font-main-color);
    padding: 0.3rem;
    font-size: small;
    margin-left: -0.8rem;
    margin-bottom: -1rem;
}

footer a {
    text-decoration: none;
    padding: 0.5rem;
    margin: 0.5rem;
}

.footer-form {
    margin: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1rem;
    border: var(--font-heading-color);
}


/* visually hides the email text */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type=email] {
    padding: 5px 15px;
}

input[type=submit] {
    padding: 5px 8px;
    background-color: var(--font-heading-color);
    border: 1px solid var(--font-heading-color);
}


/* footer section ends here */


/* for mobile phones */


/* @media screen (min-device-width: 320px) and (max-device-width: 480px) {} */


/* tablets */

@media screen and (min-width: 320px) and (max-width: 1024px) {
    /* nav section */
    .nav-primary__navigation {
        display: flex;
        flex-direction: column;
    }
    button[id*="toggle"] {
        border: 1px solid var(--font-heading-color);
        display: flex;
        flex-direction: column;
        margin: 1rem;
        padding: 5px 10px;
        background-color: #FED866;
        cursor: pointer;
        border-radius: 5px;
    }
    .nav-menu {
        border: 2px solid var(--font-heading-color);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-end;
        margin-right: 0.9rem;
    }
    .hidden {
        display: none;
    }
    .nav-menu:focus {
        outline-width: 3px;
    }
    .nav-menu:active {
        outline-width: 3px;
    }
    .fa-bars {
        font-size: bolder;
        font-size: 1rem;
    }
    img .menu-button {
        width: 32px;
        height: 32px;
    }
    .hero-title {
        font-size: 120%;
        padding: 1rem;
        max-width: 100%;
        margin: auto;
    }
    .hero-subsection {
        font-size: 0.7rem;
        word-spacing: 1px;
        max-width: 100%;
        height: auto;
        word-wrap: normal;
    }
    .hero-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    /* nav section ends here */
    /*aside section */
    .aside-styling {
        display: grid;
    }
    .rule {
        border: none;
    }
    .aside-hero__section {
        height: 10vh;
        width: 100%;
        margin-top: 0.5rem;
    }
    .aside-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: space-between;
        margin: auto;
    }
    .aside-menu a {
        font-size: 0.8rem;
    }
    /* aside section ends here */
    .img-company-partners {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    /*about section */
    .about-section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 2rem;
        width: 100%;
        border: none;
        padding: 0;
    }
    .about-section__information {
        margin: 0.5rem 0.5rem 1rem 0.5rem;
        height: auto;
        font-size: 0.8rem;
    }
    .about-section__information h2 {
        font-size: 140%;
        padding: 0.5rem;
    }
    /* about section ends here */
    /* services section */
    .services-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        font-size: 0.8rem;
    }
    .services-section__info-construction {
        width: 100%;
        height: auto;
    }
    .services-section h2 {
        font-size: 140%;
        padding: 0.5rem;
    }
    img .services-section__img {
        object-fit: fill;
    }
    /* services section ends here */
    /* project section */
    .projects-section-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 0.8rem;
    }
    .projects-section-info h2 {
        font-size: 130%;
    }
    .project-gallery {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    /* project section ends here */
    footer h2 {
        font-size: 120%;
    }
}