@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
:root {
    --main-background-color: #131F26;
    --font-main-color: #CDCDD8;
    --font-heading-color: #FED866;
    --main-font-family: 'Libre Baskerville', serif;
    --font-link-color: #ACC8E5
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-background-color);
    font-family: var(--main-font-family);
    /* overflow-x: hidden;? */
}


/* navigation section */

.nav-primary__navigation {
    display: flex;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
}


/* logo */

.nav-list-logo a {
    font-family: var(--main-font-family);
    font-size: 200%;
    color: var(--font-heading-color);
    display: flex;
    height: auto;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}

button[id*="toggle"] {
    display: none
}

li[class*="nav-list-item"] {
    padding: 0.5rem 1.5rem;
    font-size: 110%;
}

li a {
    font-size: 0.9rem;
}

li a:link {
    text-decoration: none;
    color: var(--font-link-color)
}

li a:visited {
    color: #d2d2f0;
}

li a:hover {
    color: var(--font-heading-color);
    text-decoration: underline dotted;
}

li a:active {
    color: var(--font-heading-color);
}


/* navigation section ends here */


/* hero section */

.hero-section {
    margin: 0.5rem 0 0 0;
}

.hero-content {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
    color: var(--font-main-color);
}

.hero-title {
    text-align: center;
    padding: 0.5rem;
    margin: 0.3rem;
    font-size: 160%;
    line-height: 2rem;
    width: 300px;
    height: auto;
    text-align: left;
}

.hero-subsection {
    text-align: center;
    max-width: 50%;
    padding: 1rem;
    line-height: 1.5rem;
    margin-left: 1rem;
    font-size: 0.9rem;
    word-spacing: 2px;
    text-align: left;
}

.word-yellow {
    color: var(--font-heading-color);
}

.aside-hero__section {
    max-height: auto;
    height: auto;
    margin-top: -1rem;
    color: var(--font-main-color);
    font-size: 0.5rem;
    margin-left: 0.5rem;
    flex: 5%;
}

.aside-menu {
    display: flex;
    flex-direction: column;
}

.rule {
    border-left: 2px solid var(--font-heading-color);
    height: 380px;
    margin: 0 0 0 0.5rem;
    padding: 0.5rem 0.8rem;
}

.facebook-page {
    width: 32px;
    height: 32px;
    color: var(--font-main-color);
    border: 1px solid var(--font-main-color);
    padding: 0.3rem;
    border-radius: 2px;
}

.instagram-page {
    width: 32px;
    height: 32px;
    color: var(--font-main-color);
    border: 1px solid var(--font-main-color);
    padding: 0.3rem;
    border-radius: 2px;
}

.aside-list-itemOne {
    margin: 0.5rem 0;
}

.aside-list-itemTwo {
    margin: 0.5rem 0;
}

aside a {
    font-size: 0.6rem;
}

.hero-img {
    background: url("Images/hero-image.jpg");
    max-width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: contain;
    flex: 90%;
}


/* holds the aside menu and hero image */

.aside-styling {
    display: flex;
    margin: 1rem 0 0 0;
}

.img-company-partners {
    display: flex;
    background-color: #142027;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: auto;
    margin: 1rem 0 1rem 5.5rem;
}

.img-partners {
    width: 200px;
    height: 150px;
}


/* hero section ends here */


/* about section starts here */

.about-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-template-rows: auto;
    border-right: 2px solid var(--font-heading-color);
    padding: 0 1rem 0 0
}

.about-section__img {
    grid-row-start: 1;
    grid-row-end: 4;
}

.about-img {
    background: url("Images/image2.jpg");
    max-width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: contain;
}

img .about-section__information {
    grid-row-start: 2;
    grid-row-end: 4;
}

.about-section__information {
    height: 400px;
    width: auto;
    margin-top: 12.6rem;
    padding: 2rem;
    border: 1px solid #142027;
    background-color: #131c22;
}

.about-section__information h2 {
    color: var(--font-heading-color);
    margin: 0.5rem;
}

.about-section__information p {
    color: var(--font-main-color);
    margin: 0.5rem;
    line-height: 1.8;
}

.about-section__link {
    margin-top: 2rem;
    margin-left: 0.5rem;
    ;
}

.about-section__link a {
    border: 1px solid var(--font-heading-color);
    padding: 10px 15px;
    color: var(--font-heading-color);
    text-decoration: none;
}

.about-section__link a:hover {
    text-decoration: underline dotted;
}


/* about section ends here */


/* services section starts here */

.services-section {
    border: 2px solid red;
    margin: 2rem 0.5rem 2rem 0.5rem;
}


/* services section ends here */


/* for mobile phones */


/* @media screen (min-device-width: 320px) and (max-device-width: 480px) {} */


/* tablets */

@media screen and (min-width: 320px) and (max-width: 1024px) {
    ul.nav-menu {
        border: 2px solid red;
        display: flex;
        flex-direction: column;
    }
    button #toggle {
        border: 2px solid red;
        margin: 1rem;
        background-color: #FED866;
    }
    img .menu-button {
        width: 32px;
        height: 32px;
    }
}