    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
     :root {
        --body-background-color: #131F26;
        --font-main-color: #CDCDD8;
        --font-heading-color: #FED866;
        --main-font-family: 'Libre Baskerville', serif;
        --font-link-color: #ACC8E5;
        --main-section-backgroundColor: #131c22b3;
    }
    
    *,
     ::before,
     ::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: var(--body-background-color);
        color: var(--font-main-color);
        font-family: var(--main-font-family);
    }
    
    .heading {
        border: 20px solid transparent;
        border-image: url('Images/border-img-2.png') 120 20 20 120 round;
        padding: 3rem;
        margin: 0.5rem 0 0.5rem 0;
        max-width: 70%;
        height: auto;
    }
    
    h1 {
        text-align: left;
    }
    
    h2 {
        font-size: 130%;
    }
    
    .container {
        border: 2px solid #131F26;
        background-color: var(--main-section-backgroundColor);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 1rem 2rem;
        padding: 1.5rem;
        justify-content: space-around;
        align-content: center;
    }
    
    .container h2 {
        margin: 0.5rem;
        padding: 0.5rem;
    }
    
    .container p {
        line-height: 2;
    }
    
    .archdesigns-concept,
    .arch-design-solutions {
        border: 1px groove var(--font-heading-color);
        padding: 1.2rem;
        margin: 1rem;
        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;
    }
    
    main {
        background-color: var(--main-section-backgroundColor);
        margin: 2rem;
        padding: 1rem;
        height: auto;
    }
    
    td .table-data-img-one {
        width: 350px;
        height: 400px;
    }
    /* visually hiding */
    
    #table-summary {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
    }
    /* visually hiding */
    
    span[id*="img-description"] {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
    }
    
    .table-heading {
        text-align: center;
        margin: 1rem;
        padding: 1rem;
        color: var(--font-heading-color);
    }
    
    table {
        border: 2px solid #232731;
        border-radius: 10px;
        padding: 3rem;
        margin: 2rem;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }
    
    th {
        border: 1px solid transparent;
        padding: 0.5rem;
        margin: 0.5rem;
        box-shadow: inset 1px 1px 1px 1px var(--font-heading-color);
    }
    
    caption {
        padding: 0.5rem;
        margin: 0.5rem 1rem;
        text-align: center;
        color: var(--font-heading-color);
    }
    
    td {
        font-size: 0.85em;
        border: 2px solid var(--body-background-color);
        padding: 1rem;
        box-shadow: inset 1px 1px 2px 1px #999;
    }
    
    .back-home-page {
        border: 1px solid var(--font-heading-color);
        padding: 10px 15px;
        color: var(--font-heading-color);
        text-decoration: none;
        max-width: 20%;
        margin: 1rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
    }
    
    .back-home-page:hover {
        text-decoration: underline dotted;
        color: var(--font-heading-color);
        border-style: dotted;
        background-color: rgb(29, 27, 27);
    }
    
    .back-home-page a {
        text-decoration: none;
        color: var(--font-heading-color);
        font-size: 0.9rem;
        text-align: center;
    }
    
    .back-home-page a:hover {
        text-decoration: underline dotted;
        color: var(--font-heading-color);
    }
    
    .back-home-page a:active {
        text-decoration: underline;
        color: var(--font-heading-color);
    }
    /* mobile devices */
    
    @media screen and (min-width: 320px) and (max-width: 1024px) {
        h1 {
            text-align: center;
            line-height: 1.5;
        }
        .container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        thead {
            display: none;
        }
        tr:nth-child(even) {
            margin: 1rem;
            background-color: var(--body-background-color);
        }
        tr:nth-child(odd) {
            margin: 1rem;
            background-color: #232731;
        }
        /* first td */
        td:nth-child(1) {
            padding: 0.8rem 1rem;
            text-align: center;
        }
        td:nth-child(2) {
            padding: 0.8rem 1rem;
            text-align: center;
        }
        td:nth-child(3) {
            padding: 0.8rem 1rem;
            text-align: center;
            line-height: 2;
        }
        /* centered image */
        td:nth-child(4) .table-data-img-one {
            margin: auto;
        }
        td:before {
            content: attr(data-label);
            font-size: 10px;
            text-transform: uppercase;
            font-weight: bold;
            padding: 1rem;
            text-align: center;
        }
        td {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
        }
    }